<div class="w3-modal">
    <div class="w3-modal-content delete-modal">
        <header class="w3-container w3-teal">
            <span (click)="hideDeleteModal()" class="w3-button w3-display-topright">&times;</span>
            <h2 class="centered">Czy na pewno chcesz usunąć harmonogram?</h2>
        </header>
        <div class="w3-container modal-body">
            <p>Data i godzina przyjścia: <b>{{selectedSchedule.arrival | date : 'y-MM-dd H:mm'}}</b></p>
            <p>Data i godzina odejścia: <b>{{selectedSchedule.departure | date : 'y-MM-dd H:mm'}}</b></p>
        </div>
        <footer class="w3-container modal-footer">
            <button class="btn btn-info mr-auto" (click)="hideDeleteModal()">
                Anuluj
            </button>
            <button class="btn btn-danger" (click)="deleteSchedule()">
                Usuń
            </button>
        </footer>
    </div>
</div>